/* styles.css */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .expense-form {
    margin-bottom: 20px;
  }
  
  .expense-form select,
  .expense-form input[type="text"],
  .expense-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .expense-form button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .expense-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .expense-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .expense-list li:last-child {
    border-bottom: none;
  }
  
  body {
    background: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  .auth-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .auth-button a {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .auth-button img {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
  }
  